@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lora",sans-serif;
  color:#333;
}
nav {
  padding: 2em 0;
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 2em 4em;
  margin:  8em;  
  border: 4px solid #eee;  
  position: relative; 
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
}
.home::before {
  background: none;
  border: 4px solid #eee;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}
.home img {
  width: 500px;
}
.home h1 {
  width: 50%;
}
nav ul {
  display: flex;
  float: right;
  margin: 0 8em;
  text-transform: uppercase;
}
nav ul li {
  list-style: none;
  margin: 0 1em;
  cursor: pointer;
  font-weight: 700;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
nav ul li a:hover {
  text-decoration: none;
  color: #000;
}

.features {
  margin: 8em;
}
.feature {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  padding: 2em 4em; 
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
  margin: 2em 0;
  border-radius: 10px;
}
.feature-img img{
  width: 300px;
}
.feature-desc h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.videos {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0 8em;  
}
.video-card {
  margin: 0 1em;
  border:2px solid #ddd;
  margin:  1em ;
  padding-bottom: 2em;
}
.video-card img,.video-card video {
  width: 100%; 
  height: 70%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.video-card p {
  font-size: 0.8rem;
  font-weight: 700;
  padding:0 1em;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 4em ;
  border-top:2px solid #eee;
  padding:1em 0;
}
.icons {
  display: flex;
  justify-content: space-evenly; 
}
.icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}
.my-videos h1 {
  margin-left: 4em;
}